<app-search (filterEvent)="getListProduct($event)"></app-search><br>
<app-filter (filterEvent)="getListProduct($event)"></app-filter>
<div *ngIf="listProducts.length == 0"></div>
<div *ngIf="listProducts" class="container">
  <div class="item" *ngFor="let product of listProducts">
    <div class="product" *ngIf="product">
      <figure class="product_info">
        <div class="div_img"><img [routerLink]="['/details/', product.slug]" src="../../../assets/img/products/{{product.img_prod}}" alt=""></div>
        <h3>{{product.prod_nom}}</h3>
        <div class="price">{{product.price}}€</div>
        <div calss="author" [routerLink]="['/profile/', product.author]"><img class="img_author" src="https://avatars.dicebear.com/api/personas/{{product.author}}.svg" alt=""></div>
        <app-favorite-button
        [emit]= "emit"
        [product]="product"
        (toggle)="onToggleFavorite($event, product)"
        class="pull-xs-right">
      </app-favorite-button>
      </figure>
    </div>
    <div *ngIf="!product">No product</div>
  </div>
</div>
<nav id="pagination" class="d-flex justify-content-center mt-4" *ngIf="listProducts.length != 0 && totalPages.length != 1">
  <ul class="pagination pg-blue">
    <li *ngIf="currentPage != 1" class="page-item" (click)="setPageTo(currentPage-1)">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">
      <span class="page-link">{{ pageNumber }}</span>
    </li>
    <li *ngIf="currentPage != totalPages[totalPages.length-1]" class="page-item" (click)="setPageTo(currentPage+1)">
      <span class="page-link">Next</span>
    </li>
  </ul>
</nav>