<app-search (filterEvent)="getListProduct($event)"></app-search>
<app-filter (filterEvent)="getListProduct($event)"></app-filter>
<div *ngIf="listProducts.length == 0"></div>
<div *ngIf="listProducts" class="container">
  <div class="item" *ngFor="let product of listProducts">
    <div class="product" *ngIf="product" [routerLink]="['/details/', product.slug]">
      <figure class="product_info">
        <div class="div_img"><img src="../../../assets/img/products/{{product.img_prod}}" alt=""></div>
        <h3>{{product.prod_nom}}</h3>
        <div class="price">{{product.price}}€</div>
        <div class="like"><i id="icono" class="fa-solid fa-heart"></i></div>
      </figure>
    </div>
    <div *ngIf="!product">No product</div>
  </div>
</div>
<nav class="d-flex justify-content-center mt-4" *ngIf="listProducts.length != 0 && totalPages.length != 1">
  <ul class="pagination pg-blue">
    <li *ngIf="currentPage != 1" class="page-item" (click)="setPageTo(currentPage-1)">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">
      <span class="page-link">{{ pageNumber }}</span>
    </li>
    <li *ngIf="currentPage != totalPages[totalPages.length-1]" class="page-item" (click)="setPageTo(currentPage+1)">
      <span class="page-link">Next</span>
    </li>
  </ul>
</nav>