<div class="infinityCat_div">
  <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()"
    (scrolledUp)="onUp()">
    <h1>Categorias mas visitadas:</h1>
    <div class="container">
    <div class="card_category" *ngFor="let d of data">
      <div class="category" [routerLink]="['/shop/category/', d.slug]">
        <img src="../../../assets/img/category/{{d.img_cat}}" />
        <p>{{ d.cat_name }}</p>
      </div>
    </div>

  </div>
</div>
</div>