.flex {
  width: 40%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.img_username {
  width: 30%;
}

.img_username img {
  width: 200px;
  background-color: black;
  border-radius: 150px;
  border: 10px double white;
}

.img_username p {
  margin-top: 1%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.info_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info_foll {
  display: flex;
  justify-content: space-evenly;
}

.num_followers p:last-child {
  background-color: black;
  border-radius: 10px;
  border: 8px double white;
  color: white;
  padding: 5px;
}

.num_follows p:last-child {
  background-color: black;
  border-radius: 10px;
  border: 8px double white;
  color: white;
  padding: 5px;
}

.num_followers p:first-child,
.num_follows p:first-child {
  font-weight: bold;
  font-size: x-large;
}

#follow {
  width: 260px;
  margin-left: 1%;
  border-radius: 10px;
  border: 5px double white;
  background-color: rgb(9, 9, 9);
  color: white !important;
}
#follow:hover {
  border: 5px double rgb(64, 105, 239);
}
.about p:first-child {
  margin-bottom: -1%;
  color: red;
  font-weight: bold;
}
.about {
  margin-top: 5%;
  text-align: left !important;
}
.btn_post_fav {
  display: flex;
  margin-top: 1%;
  justify-content: center;
}

@media screen and (max-width: 1260px) {
  .flex {
    width: 40%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
  }

  .img_username {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about {
    text-align: center !important;
  }

  #follow { 
    width: 70%;
    margin: 0px auto ;
  }
}

@media screen and (max-width: 1140px) {
  .flex {
    margin-left: 30%;
  }
}

@media screen and (max-width: 970px) {
  #follow { 
    width: 80%;
  }
  .about {
    text-align: center !important;
  }
}

@media screen and (max-width: 700px) {
  #follow { 
    width: 90%;
  }
  .about {
    text-align: center !important;
  }
}

@media screen and (max-width: 590px) {
  #follow { 
    width: 100%;
  }
  .about {
    text-align: center !important;
  }
}