@media screen and (max-width: 1561px) {
  .div_profile_user {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }
}




.div_profile_user {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.inf_user img, .inf_user p {
  background-color: black;
  border-radius: 100px;
  border: 10px double white;
} 

.inf_user {
width: 100%;
}

.inf_user p {
  color: white;
  text-align: center;
  text-transform: uppercase;
} 

.grid {
  display:grid;
  grid-template-columns: 50% 50;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-area: "followers following"
              "" ;

  /* grid-column: 2/3;
  grid-row: 1/2; */

}


















/* .all_profile {
  display: grid;
  justify-items: center;
  margin-top: 1%;
}

.div_profile_user {
 display: flex;
 justify-content: center;
}

.img_user {
  width: 60%;
  margin-left: 27%;
}

.username {

  display: flex;
  margin-top: 2%;
  margin-left: 15%;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.num_followers p:first-child {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;

}

.num_followers p:last-child {

  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

.num_follows p:first-child {

  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-large
}

.num_follows p:last-child {

  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

#follow {
 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 34px;
  border-radius: 10px;
  border: 5px double white;
  background-color: rgb(9, 9, 9);
  color: white !important;
}

#follow:hover {
  border: 5px double rgb(64, 105, 239);
}

.edit_pprofile:hover {
  color: #CEF6F5;
}

.edit_pprofile {
  text-decoration: none;
  color: white;
}

#about {

  color: red;
  margin-top: -10%;

}

#bio {

  display: flex;
  justify-content: left;
  width: 150%;
}

.btn_post_fav {


}

.img_user img {
  background-color: black;
  border-radius: 100px;
  border: 10px double white;

} */