<div class="all_profile">
  <div class="div_profile_user">
    <div class="left_info">
      <div class="img_user">
        <img src="https://avatars.dicebear.com/api/personas/{{profile.username}}.svg" alt="user image"
          class="user-img" />
      </div>
      <div class="username">
        <p>{{ profile.username }}</p>

      </div>
    </div>

    <div class="right_info">
      <div class="num_followers">
        <p>200</p>
        <p>FOLLOWERS</p>
      </div>
      <div class="num_follows">
        <p>20</p>
        <p>FOLLOWS</p>
      </div>
      <div id="follow">
        <app-follow-button [hidden]="isUser" [profile]="profile" (toggle)="onToggleFollowing($event)">
        </app-follow-button>
        <a [routerLink]="['/settings']" [hidden]="!isUser" class="btn btn-sm btn-outline-secondary action-btn">
          <i class="fa-solid fa-user-pen"></i>Edit my profile </a>
      </div>
      <p id="bio">{{ profile.bio }}</p>
    </div>

    <div class="btn_post_fav">
      <div class="articles-toggle">
        <ul class="nav nav-pills outline-active">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/profile/', profile.email]">My Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/profile/', profile.email, 'favorites', profile.email]"> Favorited Posts </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>