@media screen and (max-width: 800px) {

  /* Coments published */
  .info_prod p {
    font-size: 15px !important;
  }

  figure {
    flex-direction: column;
  }

  figure img {
    width: 100% !important;
    border-radius: 10px;
  }

  .info_prod {
    border-radius: 10px;
    border-left: 10px double !important;
  }

  .cards {
    width: 100%!important;
  }
  .cards .username_all .comment-name p {
    display: none !important;
  }
  .username_all {
    width: 13%!important;
  }

  .delete_one {
    width: 5%!important;
  }
  
  .body_comment {
    width: 70%!important;
  }

  .cards .username_all .comment-img img {
    width: 100% !important;
  }

  .cards .username_all {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #form_add {
    margin: 0px auto;
    width: 90% !important;
  }

  #all_public_coment {
    width: 100% !important;
  }

  /* Comment add */
  .username {
    display: flex !important;
    align-items: center !important;
  }

  .username p {
    display: none !important;
  }

  .username img {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

/* Public coment */
form {
  width: 70%;
  margin-left: 15%;
  border-radius: 10px;
}

.product {
  padding: 30px;
}

fieldset {
  border-radius: 10px;
  border: 2px solid black;
}

#all_public_coment {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
}

.username {
  background-color: bisque;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid black;
}

.username img {
  width: 56%;
  background-color: black;
  border-radius: 60px;
  margin-top: 1%;
  margin-left: 22%;
  border: 5px double white;
}

.username img:hover {
  background-color: #cef6f5;
}

.username p {
  font-size: x-large;
  background-color: bisque;
  text-align: center;
  margin-top: 1.2%;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  font-style: italic;
}

.write_com textarea {
  height: 150px;
}

.btns {
  background-color: bisque;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  border-left: 2px solid black;
}

.btns p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-top: 4%;
  width: 80%;
  height: 80%;
}

.btns button {
  margin-left: 10%;
  margin-top: 4%;
  width: 80%;
  height: 80%;
}

img {
  width: 30%;
}

/* Product Details */

figure {
  display: flex;
  justify-content: center;
  width: 100%;
}

figure img {
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 10px double black;
  background-color: bisque;
}

figure .info_prod {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 10px double black;
  border-left: 0px;
  background-color: bisque;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.info_prod h2 {
  text-align: center;
  font-style: italic;
}

.info_prod p {
  font-size: large;
}

.btns_details {
  display: flex;
  justify-content: space-around;
}

.btns_details button {
  background-color: #cef6f5;
  border-radius: 10px;
}

.fa-cart-shopping {
  color: #047cfc;
  width: 100%;
  height: 40px;
}

.fa-cart-shopping:hover {
  color: rgb(88, 187, 88);
}

/* Style Alll coments */

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.username_all {
  background-color: bisque;
  width: 7%;
  height: 120px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid black;
}

.username_all img {
  width: 60%;
  background-color: black;
  border-radius: 50px;
  margin-top: 10%;
  border: 5px double white;
}

.username_all img:hover {
  background-color: #cef6f5;
}

.username_all a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.username_all a:last-child {
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
}

.body_comment {
  background-color: white;
  width: 50%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1%;
}

.delete_one {
  background-color: bisque;
  width: 4%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash,
.fa-ban {
  width: 100%;
  height: 40px;
}

.fa-trash:hover,
.fa-ban:hover {
  color: red;
}