<div>
  <div *ngIf="!product">No product</div>
  <div class="product" *ngIf="product">
    <figure class="snip1423">
      <img src="/assets/img/products/{{ product.img_prod }}" alt="" />
      <div class="info_prod">
        <h2>{{ product.prod_nom }}</h2><br>
        <p>Company: &nbsp; {{ product.id_prod_typ }}</p>
        <p>Description: &nbsp; {{ product.prod_desc }}</p>
        <p>Disponibility: &nbsp; {{ product.disponibility }}</p>
        <p>Price: &nbsp; {{ product.price }}€</p>
        <div class="btns_details">
          <button class="buy" [routerLink]="['/profile/', currentUser.email, 'favorites', currentUser.email]"><i class="fa-solid fa-cart-shopping"></i></button>
          <button> <app-favorite-button
            [emit]="emit"
            [product]="product"
            (toggle)="onToggleFavorite($event, product)"
            class="pull-xs-right"
          >
          </app-favorite-button></button>
        </div>
      </div>
     
    </figure>
  </div>
</div>

<app-details-comment
  *ngFor="let comment of comments; trackBy: trackByFn"
  [comment]="comment"
  (deleteComment)="onDeleteComment(comment)"
>
</app-details-comment>
<br /><br />
<form
  id="form_add"
  class="card comment-form"
  (ngSubmit)="addComment()"
  *appShowAuthed="true"
>
  <fieldset [disabled]="isSubmitting">
    <div id="all_public_coment">
      <div class="username">
        <img
          [routerLink]="['/profile', userimg]"
          src="https://avatars.dicebear.com/api/personas/{{ userimg }}.svg"
          alt="user image"
          class="comment-author-img"
        />
        <p [routerLink]="['/profile', userimg]">{{ userimg }}</p>
      </div>
      <div class="write_com">
        <textarea
          class="form-control"
          placeholder="Write a comment..."
          rows="3"
          [formControl]="commentControl"
        ></textarea>
      </div>
      <div class="btns">
        <button class="btn btn-sm btn-primary" type="submit">
          Post
        </button>
        <p class="btn btn-sm btn-primary" (click)="cancelComent()">Cancel</p>
      </div>
    </div>
  </fieldset>
</form>
