<br>
<!-- <div *ngIf="comment"><h1>Comments:</h1></div> -->
<div class="cards">
    <div class="username_all">
      <a class="comment-author comment-img" [routerLink]="['/profile', comment.author.email]"><img [src]="comment.author.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="author image" class="comment-author-img"/></a>
      <a class="comment-author comment-name" [routerLink]="['/profile', comment.author.email]"><p>{{ comment.author.username }}</p></a>
    </div>

      <div class="body_comment">
        <p class="card-text">{{ comment.body }}</p>
        <span class="date-posted">{{ comment.createdAt | date: 'short' }}</span>
      </div>
      <div class="delete_one">
        <span class="mod-options" [hidden]="!canModify" (click)="deleteClicked()"><i class="fa-solid fa-trash"></i></span>
        <span class="mod-options" [hidden]="canModify" (click)="nodeleted()"><i class="fa-solid fa-ban"></i></span>
        
      </div>
</div>