<form [formGroup]="filtform">
    <div class="filters">
        <div class="filter">
            <div>
                <input type="checkbox" name="" id="nuevo" formControlName="Nuevo">Nuevo
            </div>
            <div>
                <input type="checkbox" name="" id="comonuevo" formControlName="ComoNuevo">Como nuevo
            </div>
            <div>
                <input type="checkbox" name="" id="enbuenestado" formControlName="EnBuenEstado">En buen estado
            </div>
            <div>
                <input type="checkbox" name="" id="encondicionesaceptables" formControlName="EnCondicionesAceptables">En
                condiciones aceptables
            </div>
            <div>
                <input type="checkbox" name="" id="lohadadotodo" formControlName="LoHaDadoTodo">Lo ha dado todo
            </div>
            <div>
                <input type="number" formControlName="minprice">
                <input type="number" formControlName="maxprice">
            </div>
            <div>
                <button type="button" (click)="getValues()">Go</button>
            </div>
        </div>
    </div>
</form>