#carousel_div {
  color: #f33784;
  width: 60%;
  height: 80px;
  margin-left: 38%;
  margin-top: 3%;
}

.arrow_prev {
  float: left;
  width: 4%;
  margin-left: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 0px;
  background-color: white;
}

.arrow_prev img {
  width: 100%;
  height: 100%;
}

.div_img {
  float: left;
  width: auto;
  height: auto;
  margin-top: -2.5%;
  margin-left: 1.5%;
}
.image {
  width: 150px;
  height: 150px;
}

.arrow_next {
  width: 4%;
  margin-top: 1%;
  float: right;
  margin-right: 69%;
  border: 0px;
  background-color: white;
}

.arrow_next img {
  width: 100%;
  height: 100%;
}
.div_dots {
  margin-bottom: 2%;
  margin-left: 45%;
  margin-top: 3%;
}

.dot {
  float: left;
  width: 13px;
  height: 13px;
  border-radius: 60%;
  background-color: white;
  border: solid 1px black;
  margin-bottom: 5%;
}

.active, .dot:hover {
  background-color: gray;
}

.dot_active {
  background-color: black !important;
}
