<br><br>
<div class="div_settings">
  <div class="container page">
    <div class="">
      <img src="https://avatars.dicebear.com/api/personas/{{ user.username }}.svg" alt="">
      <h1 class="text-xs-center">Your Settings</h1>

      <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">

          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Username" formControlName="username" />
          </fieldset>

          <fieldset class="form-group">
            <textarea class="form-control form-control-lg" rows="8" placeholder="Short bio about you"
              formControlName="bio">
              </textarea>
          </fieldset>

          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="email" placeholder="Email" formControlName="email"
              readonly />
          </fieldset>

          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="New Password"
              formControlName="password" />
          </fieldset>
          <fieldset class="form-group">
            <div class="div_button">
              <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Update Settings</button>
              <button class="btn btn-outline-danger" (click)="logout()"><i id="icon"
                  class="fa-solid fa-right-from-bracket"></i></button>
            </div>
          </fieldset>
        </fieldset>
      </form>
    </div>
  </div>
</div>