* {
  -wibkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* End Global Rules */

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Start Style NavBar  */

nav {
  background-color: black;
  width: 100%;
  height: 85px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 5px solid white;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: left;
  padding: 10px;
  font-size: 25px;
  width: auto;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #e4e6e7;
  text-decoration: none;
}

#logo {
  margin: 20px 0 20px 20px;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: #e4e6e7;
  float: left;
  height: 50px;
  display: block;
}

#logo img {
  width: 20%;
}

#logo:hover {
  text-decoration: none;
  color: #fff;
}

.links {
  float: right;
  padding: 18px;
}

a .image {
  display: none;
}

#menu-icon {
  display: hidden;
  width: 32px;
  height: 32px;
}

.info_user img {
  width: 40px;
  background-color: #cef6f5;
  border-radius: 50px;
}

.info_user p {
  text-transform: uppercase;
}

.cor:hover {
  color: red;
}

.li_name {
  border-bottom: 0px !important;
}

.li_img {
  border-top: 0px !important;
}

@media (max-width: 990px) {
  #menu-icon {
    display: inline-block;
  }
  .links {
    padding: 20px 10px;
  }

  .links ul {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: black;
    top: 76px;
    right: 10px;
    width: 40%;
    border: 2px solid white;
  }

  .links:hover ul {
    display: block;
  }

  .links li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border: 2px solid white;
  }

  .img_profile {
    position: relative;
    margin-top: -150%;
  }
}
