*
{
    -wibkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

/* End Global Rules */

.container
{
    margin:auto;
    padding-left:15px;
    padding-right:15px;
}


/* Start Style NavBar  */

nav{
    background-color: black; 
    width: 100%;
    height: 85px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 5px solid white;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    float:left;
    padding:10px;
    font-size:25px;
    width: auto;
}

a{
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    color:#e4e6e7;
    text-decoration: none;  
}

#logo{
    margin:20px 0 20px 20px;
    font-family:sans-serif;
    font-size:30px;
    cursor:pointer;
    color:#e4e6e7;
    float:left;
    height:50px;
    display:block;
}

#logo img {
  width: 20%;
}

#logo:hover{
    text-decoration:none;
    color:#FFF;
}

.links{
    float:right;
    padding:18px;
}

a .image{
    display:none;
}

#menu-icon
{
    display:hidden;
    width:32px;
    height:32px;
}

.info_user img {
  width: 40px;
  background-color: #CEF6F5;
  border-radius: 50px;
}

.info_user p {
  text-transform: uppercase;
}

.cor:hover {
  color: red;
}


@media (max-width: 990px) 
{
#menu-icon{
        display:inline-block;
}
.links{
    padding:20px 10px;
}    
    
.links ul {
        
    display:none;
    position:absolute;
    padding:20px;
    background-color: black;
    top:76px;
    right:10px;
    width:40%;
    border: 2px solid white;

        
}
    
.links:hover ul{
    display:block;
      
}
    
.links li    {
    text-align:center;
    width:100%;
    padding:15px 0;
    margin:0;
    border: 2px solid white;
}

.img_profile {
  position: relative;
  margin-top: -150%;
}
    
}





































/* header {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-flow: row;
  grid-template-areas: "logo nav";
  background-color: rgb(0, 0, 0);
}

.logo {
  grid-area: logo;
  grid-column: 1/2;
  text-align: center;
}

nav {
  grid-area: nav;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: center;
}

.btn_home,
.btn_shop,
.btn_profile {
  color: black;
  font-size: 1.5em;
  background-color: bisque;
  border: 5px solid #cef6f5;
  border-radius: 10px;
  width: auto;
  font-weight: bolder;
}

.btn_profile{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-flow: row;
  grid-template-areas: "img name";
  height: 40%;
  width: 40%;
  max-width:auto ;

} 

.btn_profile img {
  grid-area: img;
  grid-column: 1/2;
  width: 90%;
  margin-top: -7%;
  margin-left: 22%;
  display: flex;
  justify-content: center;
  background-color:black;
  border-radius: 50px;
}

.username {
  grid-area: name;
  grid-column: 2/3;
  text-align: center;
  margin-top: 2%;
  text-transform: uppercase;
}

.btn_logout,
.btn_login,
.btn_reg,
.btn_like {
  color: black;
  font-size: 1.5em;
  background-color: bisque;
  border: 5px solid #cef6f5;
  border-radius: 30px;
  width: 10%;
  font-weight: bolder;
}

nav button:hover {
  color: #ba9d5b;
  font-size: 1.8em;
  border: 5px solid #f2e796;
}

.btn_like:hover {
  color: red !important;
  font-size: 1.8em;
  border: 5px solid #f2e796;
}

.btn_profile:hover {
  color: #ba9d5b;
  font-size: 1.5em !important;
}

nav button {
  margin-right: 2%;
} */
