<header>
  <img src="../../../../assets/img/header/logo.png" routerLink="home" alt="logo">
  <nav>
    <button routerLink="home">Home</button>
    <button routerLink="shop">Shop</button>


    <!-- Show this for logged out users -->
    <!-- <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right"> -->
    <ul>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth']" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="auth/register" routerLinkActive="active">
          Sign up
        </a>
      </li>
    </ul>


    <!-- Show this for logged in users -->
    <!-- <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right"> -->
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li> -->
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
          <img [src]="currentUser.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'"
            *ngIf="currentUser.image" class="user-pic" alt="user image" />
          {{ currentUser.username }}
        </a>
      </li>
      <li>
        <button class="btn btn-outline-danger" (click)="logout()">
          Logout
        </button>
      </li>
    </ul>
  </nav>
</header>