<header>
  <img src="../../../../assets/img/header/logo.png" routerLink="home" alt="logo">
  <nav>
    <button routerLink="home">Home</button>
    <button routerLink="shop">Shop</button>
    <button routerLink="auth/login">reserva</button>
    <button *appShowAuthed="false" routerLink="auth/login">Login</button>
    <button *appShowAuthed="false" routerLink="auth/register">Register</button>
    <button *appShowAuthed="true" routerLink="auth/login" (click)="logout()">Logout</button>
  </nav>
</header>