.text-danger{
    color:red
}

.bg-primary {
    background-color: #CEF6F5!important;
    height:800px !important;
}

.card {
    border: 2px solid black;
    box-shadow: #ba9d5b 0px 20px 30px -10px;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: bisque;
    border-color: #007bff;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    background-color: bisque;
}

.btn-primary {
    color: white;
    background-color: black;
    border-color: #007bff;
    font-weight:bold ;
}

.btn-primary:hover {
    background-color: rgb(166, 221, 85);
}