<div class="container">
  <div *ngIf="products.length == 0">No products</div>
  <div class="item" *ngFor="let product of products">
    <div class="product" *ngIf="product">
      <figure class="product_info">
        <div class="div_img">
          <img
            [routerLink]="['/details/', product.slug]"
            src="./../../../assets/img/products/{{ product.img_prod }}"
            alt=""
          />
        </div>
        <h3>{{ product.prod_nom }}</h3>
        <div class="price">{{ product.price }}€</div>
        <div calss="author" [routerLink]="['/profile/', product.author]">
          <img
            class="img_author"
            src="https://avatars.dicebear.com/api/personas/{{
              product.author
            }}.svg"
            alt=""
          />
        </div>
        <!-- <app-favorite-button
            [product]="product"
            (toggle)="onToggleFavorite($event, product)"
            class="pull-xs-right">
        </app-favorite-button> -->
      </figure>
    </div>
    <div *ngIf="!product">No product</div>
  </div>
</div>

<!-- <app-card-products class="item" *ngFor="let product of products" [product]="product"></app-card-products> -->
<!-- </div> -->
